/* TODO Add site wide styles */



.flx {
    display: flex;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.panelborder {
    border: 2px solid blue;
}


.redwarning {
    color: red
}

.flx-spacearound {
    display: flex;
    justify-content: space-around;
}


.display-b {
    display: block;
}

.display-n {
    display: none;
}

/*============ className -color =============*/

.bg-grey {
    background-color: rgba(170, 165, 165, 0.982);
}

.bg-5cc5a7 {
    background-color: #5cc5a7;
}

.grid-3fr {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.shadow {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}

.testing-bg {
    background-color: red;
}

/*============ className -height =============*/

.line-h70 {
    line-height: 70px;
}

.line-h50 {
    line-height: 50px;
}

.line-5vh {
    line-height: 5vh;
}

.height-3vh {
    height: 3vh;
}


.height-5vh {
    height: 5vh;
}

.height-88vh {
    height: 88vh;
}

.height-18px {
    line-height: 18px;
}

.fontS-220rem {
    font-size: 2.2rem;
}

.fontS-13px {
    font-size: 13px;

}

.height-350px {
    height: 350px;
}

.height-100 {
    height: 100%;
}

/*============ className -width =============*/

.width-50 {
    width: 50%
}

.width-25 {
    width: 25%
}


/*============ for nvigation =============*/
.flx-jc-sb {
    display: flex;
    justify-content: space-between;
}

.mrg-l-7rem {
    margin-left: 7rem;
}

.mrg-r-3rem {
    margin-right: 3rem;
}
