/* TODO Add site wide styles */

body {
    margin: 0
}

.flx {
    display: flex;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-jc-se {
    display: flex;
    justify-content: space-evenly;
}


.mrg-r-3rem {
    margin-right: 3rem;
}

.panelborder {
    border: 2px solid blue;
}

.border-top-main {
    border-top: 1px solid #f6f6f6
}

.border-bottom-main {
    border-top: 1px solid #ddd
}

.mrg-l-7rem {
    margin-left: 7rem;
}

.mrg-r-3rem {
    margin-right: 3rem;
}

.redwarning {
    color: red
}

.flx-spacearound {
    display: flex;
    justify-content: space-around;
}


.display-b {
    display: block;
}

.display-n {
    display: none;
}

/*============ className -color =============*/

.bg-grey {
    background-color: rgba(170, 165, 165, 0.982);
}

.bg-side-grey {
    background-color: #f6f6f6;

}

.bg-detail-grey {
    background-color: #f8f8f8
}

.bg-5cc5a7 {
    background-color: #5cc5a7;
}

.grid-3fr {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.shadow {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}

.testing-bg {
    background-color: red;
}

.testing-bg button {
    background-color: orange;
}

/* .color-white {
    color: white;
} */

.bg-blue-0bf {
    background-color: var(--blue-0bf);
}

.bg-ff652f {
    background-color: #ff652f;
}

.color-fff {
    color: #fff
}

.bg-maim-eee {
    background-color: #eee;
}

/*============ className -height =============*/

.line-h70 {
    line-height: 70px;
}

.line-h50 {
    line-height: 50px;
}

.line-5vh {
    line-height: 5vh;
}

.height-3vh {
    height: 3vh;
}


.height-5vh {
    height: 5vh;
}

.height-8vh {
    height: 8vh;
}

.height-88vh {
    height: 88vh;
}

.height-2-5vh {
    height: 2.5vh;
}

.height-18px {
    line-height: 18px;
}

.height-max-15 {
    max-height: 15px;
}

.fontS-220rem {
    font-size: 2.2rem;
}

.fontS-13px {
    font-size: 13px;

}

.fontS-16px {
    font-size: 16px;
}

.fontS-22px {
    font-size: 22px;
}


.height-350px {
    height: 350px;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}


.pad-tb-25p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pad-r-15px {
    padding-right: 15px;
}

/*============ className -width =============*/

.width-50 {
    width: 50%
}

.width-25 {
    width: 25%
}

.width-180 {
    width: 180px;
}

.gap15p {
    gap: 15px;
}

/*============ for nvigation =============*/
.flx-jc-sb {
    display: flex;
    justify-content: space-between;
}

.mrg-l-7rem {
    margin-left: 7rem;
}

.mrg-r-3rem {
    margin-right: 3rem;
}



#error {
    min-height: 30px;
    max-height: 30px;
}


/*============ for create/edit modal =============*/

.modal {
    background-color: #fff;
    width: 350px;
    border: 1px solid #999;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 5px;
    height: 700px;

}



.expense-summary {
    border-bottom: solid 1px;
    border-color: rgb(188, 187, 187)
}


/*============ for left side bar =============*/

.l-bar-c {
    position: relative;
    background: #f6f6f6;
    color: #504d4d78;
    margin-top: 5px;
    border-top: 1px solid #f3f3f3;

}

/*============ for button =============*/

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #5cc5a7;
    color: white;
}

.btn-add {
    border: none;
    color: black;
}

.float-r {
    float: right
}


/*============ for log-in =============*/
.login-signup {
    display: flex;
    flex-direction: column;
}


.width-50 {
    width: 50%;
}
